/* Dashboard.css */
body{
    background-color: #20232a;
}
/* Estilo general */
#admin-dashboard-container {
    background-color: #20232a; /* Fondo oscuro */
    color: #e6e6e6; /* Texto claro */
    font-family: 'Arial', sans-serif;
    padding: 20px;
    border-radius: 10px;
}

/* Títulos */
h2, h3 {
    color: #ffcc00; /* Color dorado para resaltar */
    border-bottom: 2px solid #444; /* Subrayado ligero */
    margin-bottom: 10px;
}

/* Formularios */
form {
    background-color: #2c2f36; /* Fondo del formulario */
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    background-color: #444;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    margin: 5px 0;
    width: calc(100% - 22px); /* Ajuste para el padding */
}

input::placeholder {
    color: #aaa;
}

button {
    background-color: #ffcc00;
    border: none;
    padding: 10px 15px;
    margin-right: 5px;
    color: #20232a;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #e6b800;
}

#send-report-button {
    background-color: #007acc; /* Azul brillante */
    color: #fff;
}

/* Tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #444;
}

th {
    background-color: #333;
    color: #ffcc00;
}

tr:nth-child(even) {
    background-color: #2c2f36;
}

tr:hover {
    background-color: #3a3d44;
}

/* Mensajes */
#admin-dashboard-message {
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #ffcc00;
}
