/* General Styles */
#home-page {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  .header {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* Header and Navigation */
  .nav-bar {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  /* Button Container */
  #button-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
  }
  
  #button-container button {
    /* Customize button styles as needed */
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
  }
  
  /* Info Sections */
  #about-section,
  #features-section,
  #contact-section {
    margin-bottom: 60px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  #about-section h2,
  #features-section h2,
  #contact-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
  }
  
  #about-section p,
  #features-section p,
  #contact-section p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
  }